server/n8n/campusflow-task-workflow.json
{
  "name": "CampusFlow — Task Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campusflow-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook — Receive Task",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "campusflow-task"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.body.studentEmail }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "id": "check-data",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "title": "=📚 {{ $('Webhook — Receive Task').item.json.body.taskTitle }} — {{ $('Webhook — Receive Task').item.json.body.subject }}",
        "start": "={{ $('Webhook — Receive Task').item.json.body.deadline }}",
        "end": "={{ $('Webhook — Receive Task').item.json.body.deadline }}",
        "description": "=🎓 CampusFlow Deadline\n\nSubject: {{ $('Webhook — Receive Task').item.json.body.subject }}\nPriority: {{ $('Webhook — Receive Task').item.json.body.priority }}\nDifficulty: {{ $('Webhook — Receive Task').item.json.body.difficulty }}\nEstimated Hours: {{ $('Webhook — Receive Task').item.json.body.estimatedHours }}h\n\nNotes: {{ $('Webhook — Receive Task').item.json.body.description }}\n\nAdded via CampusFlow",
        "additionalFields": {
          "color": "9",
          "reminders": {
            "reminderFields": {
              "overrides": [
                { "method": "popup", "minutes": 1440 },
                { "method": "popup", "minutes": 60 },
                { "method": "email", "minutes": 1440 }
              ],
              "useDefault": false
            }
          }
        }
      },
      "id": "google-calendar",
      "name": "Google Calendar — Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [700, 200],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-creds",
          "name": "Google Calendar (CampusFlow)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "phoneNumberId": {
          "__rl": true,
          "value": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
          "mode": "id"
        },
        "to": "={{ $('Webhook — Receive Task').item.json.body.studentPhone }}",
        "messageType": "text",
        "textBody": "=🎓 *CampusFlow Reminder*\n\nHey {{ $('Webhook — Receive Task').item.json.body.studentName }}! 👋\n\nYou just added a new deadline:\n\n📌 *{{ $('Webhook — Receive Task').item.json.body.taskTitle }}*\n📚 Subject: {{ $('Webhook — Receive Task').item.json.body.subject }}\n⏰ Deadline: {{ $('Webhook — Receive Task').item.json.body.deadline }}\n🔥 Priority: {{ $('Webhook — Receive Task').item.json.body.priority }}\n⏱ Est. Hours: {{ $('Webhook — Receive Task').item.json.body.estimatedHours }}h\n\nYour Google Calendar event has been created! ✅\n\nReminders set: 24h and 1h before deadline. Good luck! 💪\n\n_— CampusFlow AI_"
      },
      "id": "whatsapp",
      "name": "WhatsApp — Send Reminder",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [700, 400],
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "whatsapp-creds",
          "name": "WhatsApp (CampusFlow)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, calendarEvent: $('Google Calendar — Create Event').item.json.id, whatsappSent: true, message: 'Task automation complete' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond — Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"error\": \"Missing studentEmail in payload\" }",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond — Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 580]
    }
  ],
  "connections": {
    "Webhook — Receive Task": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [
        [
          { "node": "Google Calendar — Create Event", "type": "main", "index": 0 },
          { "node": "WhatsApp — Send Reminder", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond — Error", "type": "main", "index": 0 }]
      ]
    },
    "Google Calendar — Create Event": {
      "main": [[{ "node": "Respond — Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "campusflow"
  },
  "tags": [{ "name": "campusflow" }]
}
